<% pos = 0 %>
<% @urls.each do |line| %>
  <% if line['title'] %>
    <%= line['title'] %> 
  <% else %>
    <%= line['url'] %> 
  <% end %>
  [#<%= line['wp_id'] %>]
  <a href="/update/<%= pos %>">Update</a>
  <p>
  <% pos += 1%>
<% end %>