.row.span12
.row.span12
  .span4.well
    %form.form{:action => "/try", :method=>"post"}

      %label
        Blog:
      http://
      %input.input{:type=>"text", :name=>"blog"}
      %br

      %label
        From source URL:
      %input.input{:type=>"text", :name=>"url"}
      %br

      %label
        To WP page_id:
      %input.input{:type=>"text", :name=>"wp_id"}
      %br

      %label
        WP Login:
      %input.input{:type=>"text", :name=>"login"}
      %br

      %label
        WP Pwd:
      %input.input{:type=>"password", :name=>"password"}
      %hr
      %input.btn.btn-primary{:type=>"submit", :value=>"Update"}
      &nbsp;
      %a{:href=>"/"}
        Cancel
